@model SimpleWeb.Models.Auth.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<br />

@if (!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <h2 style="color: red;">@Model.ErrorMessage</h2>
}

<form asp-action="register" method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="ContentId" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
</form>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
