@model SimpleWeb.Models.CMS.HomeViewModel
@inject ON.Settings.SettingsClient settings;
@{
    ViewData["Title"] = "Home";
}

<div style="background-color: white; padding: 30px 30px 30px 30px; width: 400px; border-radius: 20px;">

    @foreach (var record in Model.Records)
    {
                <a href="/content/@(record.ContentID)">
            <img src="/img//RichieThumbnail.jpg" width="300px;" />
        </a>
        <h3>
            <a href="/content/@(record.ContentID)">@record.Title</a>
        </h3>
        <i>@record.PublishOnUTC.ToDateTime().ToLocalTime().ToString("yyyy-MM-dd h:mm tt")</i>
    }

</div>